option_settings:
  aws:elasticbeanstalk:application:environment:
    NODE_ENV: "production"
    PORT: "5001"

  aws:elasticbeanstalk:healthreporting:system:
    SystemType: "enhanced"
    EnhancedHealthAuthEnabled: "true"

  aws:autoscaling:asg:
    MinSize: "1"
    MaxSize: "3"

  aws:elasticbeanstalk:cloudwatch:logs:
    StreamLogs: "true"
    DeleteOnTerminate: "false"
    RetentionInDays: "7"

files:
  "/opt/elasticbeanstalk/tasks/bundlelogs.d/01_nodejs.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      /var/log/nodejs/nodejs.log
      /var/log/nodejs/nodejs-error.log
